<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582817006324-t3cill54g64mt0pl85k765bsdnfcftci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582817006324-t3cill54g64mt0pl85k765bsdnfcftci</string>
	<key>API_KEY</key>
	<string>AIzaSyAOBbaTsTDFndXg75SlUpX_dBfGGR99lJc</string>
	<key>GCM_SENDER_ID</key>
	<string>582817006324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.layson.votey</string>
	<key>PROJECT_ID</key>
	<string>voteyapp-2039a</string>
	<key>STORAGE_BUCKET</key>
	<string>voteyapp-2039a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582817006324:ios:25bfc97f3cd5b75d3814a1</string>
</dict>
</plist>